langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-google-genai
chromadb
sentence-transformers
pypdf
pymupdf
python-dotenv
pandas
unstructured
pdfminer
python-docx
docx2txt
ipywidgets